html {
    background-color: mintcream;
}

p,
h1,
h2 {
    color: maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 2em;
}

h1,
h2 {
    text-align: center;
}

.list {
    margin-left: 30px;
    list-style-type: none;
}

.button {
    color: mintcream;
    background-color: rgba(128, 0, 0, .4);
    border-radius: 35px;
    width: 200px;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-feature {
    color: black;
    background-color: rgba(128, 0, 117, 0.4);
    border-radius: 35px;
    width: 200px;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    margin: 10px auto;
}

.button:hover {
    background-color: rgba(128, 0, 0, .8);
    transition: background-color 1000ms;
}

.details {
    color: red;
}

.modalDiv {
    background-color: white;
    border: 3px solid maroon;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    height: 100px;
    width: 100px;
    margin: 10px auto;
}

.hidden {
    display: none !important;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: -3;
}