html {
    background-color: mintcream;
}

p,
h1,
h2 {
    color: maroon;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 2em;
}

h1,
h2 {
    text-align: center;
}

.list {
    margin-left: 30px;
}

.list {
    list-style-type: none;
}

.button {
    color: mintcream;
    background-color: rgba(128, 0, 0, .4);
    border-radius: 35px;
    width: 200px;
    height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.height {
    color: black;
    background-color: rgba(128, 0, 117, 0.4);
    border-radius: 35px;
    width: 200px;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

.button:hover {
    background-color: rgba(128, 0, 0, .8);
    transition: background-color 1000ms;
}

.details {
    color: red;
}

.image {
    height: 100px;
    width: 100px;
}

.hidden {
    display: none !important;
}